html {
    font-family: sans-serif;
}

#content {
    width: 1000px;
    margin: 0 auto;
}

#cy-map-wrapper {
    width: 1000px;
    height: 600px;
    top: 0;
    left: 0;
    position: relative;
}

#cy {
    width: 1000px;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
}

#map {
    z-index: -1;
    width: 1000px;
    height: 1260px;
    top: 0;
    left: 0;
    position: absolute;
}

#error-div {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    color: #D8000C;
    background-color: #FFBABA;
    display: none;
}

table.dataTable {
    border: 2px solid #000000;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.dataTable td, table.dataTable th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.dataTable tbody td {
    font-size: 13px;
    font-weight: bold;
}

table.dataTable tfoot td {
    font-size: 14px;
}