html {
    font-family: sans-serif;
}

#content {
    width: 1000px;
    margin: 0 auto;
}

#cy-map-wrapper {
    width: 1000px;
    height: 615px;
    top: 0;
    left: 0;
    position: relative;
}

#cy-map-wrapper-full {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#cy {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#map {
    z-index: -1;
    width: 1000px;
    height: 1260px;
    top: 0;
    left: 0;
    position: absolute;
}

#error-div {
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
    color: #D8000C;
    background-color: #FFBABA;
    display: none;
}

#menu {
    padding-bottom: 1em;
}

.hidden {
    visibility: hidden;
}

.bottomReset {
    height: 50px;
    width: 50px;
    border: 1px solid Black;
    text-align: center;
    position: absolute;
    top: calc(90vh - (/* height */50px / 2));
    left: calc(50vw - (/* width */50px / 2));
}

.bottomMenu {
    height: 60px;
    width: 200px;
    border: 1px solid Black;
    background-color: White;
    text-align: center;
    position: absolute;
    top: calc(90vh - (/* height */60px / 2));
    left: calc(50vw - (/* width */200px / 2));
}
